The Shopping Cart lets users add, remove, and check items out.
They can add an item that wasn't already added.
The checkout process returns a receipt that holds the subtotal, tax, and total.

                Test Cases
----------------------------------------
- adding an item if not already added
    - check if item is added.
    - test if the cart checks duplicates
- removing an item
    - check if item is removed.
    - if cart is empty and try to remove item from it throw illegalstate exception
- checkout
    - check subtotal
    - check tax
    - check total
    - if cart is empty, should throw illegal state

