The store sells movies and lets the user rent/return them.
The store starts by adding movies to its collection.
A movie is described by its name, format, and rating.

               Test Cases
----------------------------------------
- adding a movie
    - test store to check if the movie is exist after adding the movie
- selling a movie
    - check if the movie still available
    - check if the movie is on-sale eventhough it is rented or sold earlier
- renting a movie
    - check if the state of the movie changes after renting
- returning a movie
    - check if the availablity state change of the movie after return
